.distill-site-nav {
  color: rgba(178, 255, 102, 0.8);
  background-color: #268FD7;
  background-image:url("purple butterfly.jpg");
  font-size: 15px;
  font-weight: 300;
}

.distill-site-nav a {
  color: purple;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: darkblue;
}

.distill-site-header {
}

.distill-site-footer {
}

@media print {
  .distill-site-nav {
    display: none;
  }
}
